In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

import viz # curriculum example visualizations

np.random.seed(29)

In [158]:
#1.) How likely is it that you roll doubles when rolling two dice?


n_trials = n_rows = 10_000
n_dice = n_cols = 2


rolls = np.random.choice([1, 2, 3, 4, 5, 6], size = (n_rows, n_cols))
rolls

rolls = pd.DataFrame(rolls, columns=['die1', 'die2'])
rolls

(rolls.die1 == rolls.die2).mean()

0.1671

In [7]:
#2.) If you flip 8 coins, what is the probability of getting exactly 3 heads?
#  What is the probability of getting more than 3 heads?

n_rows = 10_000
n_cols = 8 
flips = np.random.choice(['heads', 'tails'], size = (n_rows, n_cols))
flips = pd.DataFrame(flips)

flips['n_heads'] = (flips == 'heads').sum(axis=1)
flips.head()

       0      1      2      3      4      5      6      7  n_heads
0  heads  tails  heads  heads  heads  heads  heads  tails        6
1  tails  tails  tails  heads  tails  tails  tails  heads        2
2  tails  heads  tails  tails  tails  tails  heads  tails        2
3  heads  tails  heads  tails  heads  heads  heads  heads        6
4  tails  tails  tails  tails  heads  heads  heads  tails        3

In [9]:
(flips.n_heads == 3).mean()

0.2226

In [10]:
(flips.n_heads > 3).mean()

0.6321

In [99]:
#3 There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. 
# Assuming that Codeup randomly selects an alumni to put on a billboard, 
# what are the odds that the two billboards I drive past both have data 
# science students on them?

n_rows = 10_000
n_cols = 2  

BB = np.random.choice(['WD', 'WD', 'WD', 'DS'], size = (n_rows, n_cols))
BB

BB = pd.DataFrame(BB, columns = ['BB1', 'BB2'])
BB

((BB.BB1 == 'DS') & (BB.BB2 == 'DS')).mean()

0.064

In [101]:
#.4)

n_rows = 10_000
n_cols = 5 

poptarts = np.random.normal(loc = 3, scale=1.5, size = (n_rows, n_cols))
poptarts = pd.DataFrame(poptarts)
poptarts

poptarts['n_poptarts'] = (poptarts).sum(axis=1)
poptarts

(poptarts.n_poptarts < 17).mean()

0.7197

In [45]:
#.5)

n_rows = 10_000
n_cols = 1 

men_h = np.random.normal(loc = 178, scale=8, size = (n_rows, n_cols))
women_h = np.random.normal(loc = 170, scale=6, size = (n_rows, n_cols))

(women_h > men_h).mean()

0.2078

In [23]:
#6.)

n_rows = 10_000
n_cols = 50

no_corruption = np.random.choice([0, 1], p = [.004, 0.996], size = (n_rows, n_cols))

(no_corruption.sum(axis=1) == 50).mean()

0.8192

In [62]:
p_chance = .004
n_rows = 10_000
n_cols = 100

no_corruption = np.random.choice([0, 1], p = [.004, 0.996], size = (n_rows, n_cols))

(no_corruption.sum(axis=1) == 100).mean()

0.6682

In [108]:
p_chance = .004
n_rows = 10_000
n_cols = 150

corruption = np.random.choice([0, 1], p = [.004, .996], size = (n_rows, n_cols))

(corruption.sum(axis=1) < 150).mean()

0.4554

In [34]:
p_chance = .004
n_rows = 10_000
n_cols = 450

no_corruption = np.random.choice([0, 1], p = [.004, 0.996], size = (n_rows, n_cols))

(no_corruption.sum(axis=1) == 450).mean()

0.1672

In [154]:
#7.) There's a 70% chance on any given day that there 
# will be at least one food truck at Travis Park. 
# However, you haven't seen a food truck there in 3 days. How unlikely is this?
# How likely is it that a food truck will show up sometime this week?

p_truck = .7
n_rows = 10_000
n_cols = 3

truck = np.random.choice([0, 1], p = [.3, .7], size = (n_rows, n_cols))
#truck.mean()

#data = np.random.random((n_rows, n_cols))
#trucks = data < p_truck
#trucks

(truck.sum(axis=1) == 0).mean()

0.0268

In [167]:
p_truck = .7
n_rows = 10_000
n_cols = 2

truck = np.random.choice([0, 1], p = [.3, .7], size = (n_rows, n_cols))


#data = np.random.random((n_rows, n_cols))
#trucks = data > p_truck
#trucks

(truck.sum(axis=1) > 0).mean()

0.9103

In [178]:
#8.) If 23 people are in the same room, 
# what are the odds that two of them share a birthday? 
# What if it's 20 people? 40

n_rows = 10_000
n_cols = 23

same_b = np.random.choice(range(1, 366), size = (n_rows, n_cols))
same_b = pd.DataFrame(same_b)

(same_b.nunique(axis=1) < 23).mean()

0.5147

In [179]:

n_rows = 10_000
n_cols = 20

same_b = np.random.choice(range(1, 366), size = (n_rows, n_cols))
same_b = pd.DataFrame(same_b)

(same_b.nunique(axis=1) < 20).mean()

0.4147

In [180]:
n_rows = 10_000
n_cols = 40

same_b = np.random.choice(range(1, 366), size = (n_rows, n_cols))
same_b = pd.DataFrame(same_b)

(same_b.nunique(axis=1) < 40).mean()

0.8975